.Subscribe-button {
    background-color: rgb(200, 3, 3);
    color: white;
    border: none;
    height: 32px;
    width: 105px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  } 
  .JOIN-button {
    background-color: white;
    color: blue;
    border-color: rgba(42, 21, 199, 0.9);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    height: 32px;
    width: 105px;
    cursor: pointer;
  }
  .Tweet-button {
    background-color: rgb(2, 2, 145);
    color: white;
    height: 32px;
    width: 105px;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
  }