.pic_1 {
        width: 200px;
        margin-right: 20px;
        border-radius: 30px;
      }
      .pic_2 {
        width: 200px;
        margin-left: 70px;
        object-position: center;
        object-fit: contain;
      }
      .pic_3 {
        width: 200px;
        margin-left: 70px;
        border-radius: 120px;
        object-position: center;
      }